<h2><%= @article.title %></h2>
<p><%= @article.body.html_safe %></p>
<% @images.each do |image| %>
  <p><%= image_tag "/files/articles/#{@article.id}/#{image.file}.jpg" %></p>
<% end -%>
<p><%= link_to 'Edit', edit_admin_article_path(@article) %></p>