  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="logo">logo</h1>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $('.dn_desk').on('click',function(){
      $('.tabs__caption').addClass('active');
  })
</script>
</body>
</html>
