<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.css"/>
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="#" type="image/x-icon">
    <title>33 собаки - Наши любимые питомцы</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <h1 class="logo"><a href="/">logo</a></h1>
            </div>
            <div class="col-md-9 col-sm-8">
              <form action="">
                <div class="search">
                  <input type="search" placeholder="Поиск">
                  <div class="search_btn">
                    <input type="submit" value="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>